.settings-page-container {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings-page-card {
    max-width: 700px;
    width: 700px;
}

.settings-page-list {
    padding: 30px;
    height: 400px;
    overflow: auto;
}

.settings-page-list-loading {
    padding: 30px;
    height: 500px;
    overflow: auto;
}

.settings-page-list-item-content {
    display: grid;
    width: 100%;
    margin: 0 30px;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.settings-page-list-item-title {
    text-align: center;
    grid-area: 1 / 2 / 2 / 3;
}

.settings-page-list-item-edit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-area: 1 / 3 / 2 / 4;
}

.settings-page-fab-unselected {
    pointer-events: none;
    opacity: 0;
}

.settings-page-btn-container {
    margin: 20px auto auto auto;
    width: 250px;
}

.settings-page-control-btn-container {
    margin: 10px auto auto auto;
    display: flex;
    justify-content: space-between;
}

.settings-page-loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
